---
interface Props {
    value: string;
}

const {value} = Astro.props
---
<div class="relative mb-12 w-1/2">
    <input id="discount-slider" type="search" value={""} placeholder={value}>
    <!-- <iconify-icon icon="fluent:search-square-16-filled"></iconify-icon> -->
     <!--Morgen hier verder aan proberen werken, samen met de slider functionaliteit -->
 </div>