


<div class="relative mb-12 w-1/2">
    <input id="simple-search" type="search" value="" placeholder="Enter game">
    <button class="btn" id="searchButton">Search</button>
     <!--Morgen hier verder aan proberen werken, samen met de slider functionaliteit -->
 </div>